$heavyFont: 'Bowlby One SC', cursive;
$mainFont: 'Noto Sans', sans-serif;

$bodyBg: #f9f9f9;

$lightBlackColor: #515151;
$blackColor: #212121;
$orangeColor: #d16c14;
$purpleColor: #a055d3;
$blueColor: #595dd3;